<img src="<%= asset_path "photos/chapter-house.jpg" %>" class="lead">

<h1>Welcome Brothers and Alumni</h1>

<p>This site is meant to be a convenient location for active members and graduates alike to catch up on current chapter events and stay connected with one another. If you are not already receiving our alumni newsletter, please contact Alumni Board Vice President <%= mail_to "jason.huertas@gmail.com", "Jason Huertas", :subject => "Mu Chapter Association Newsletter", :body => "Hello, I would like to start receiving the Mu Chapter Newsletter.", :encode => :hex %>. Additionally, if you have any suggestions for news stories or additions to the site, please email brother <%= mail_to "jimmydief@gmail.com", "James Diefenderfer", :subject => "Cal Theta Chi Website", :encode => :hex %>.</p>

<p>As the chapter nears its centennial, we continue to uphold our ideals of brotherhood, leadership, and dedication to academics. Truly incredible plans are coming together for Centennial on the weekend of November 16th, 2013. The event will be great fun for all and an excellent chance to catch up with brothers from all ages while celebrating 100 years of Mu Chapter. We hope to see you there!</p>

<section name="news">
  <div class="page-header">
    <h2>Recent News</h2>
    <p>The latest happenings from Mu Chapter. More information is available at <%= link_to "our blog", posts_path %> or by <%= mail_to "jason.huertas@gmail.com", "subscribing to the newsletter", :subject => "Mu Chapter Association Newsletter", :body => "Hello, I would like to start receiving the Mu Chapter Newsletter.", :encode => :hex %>.</p>
  </div>
  
  <% @posts.each do |post| %>
    <%= render :partial => "posts/display", :locals => { :post => post } %>
  <% end %>
  
  <%= link_to "More News", posts_path, :class => "button pull-right" %>
</section>