<article>  
  <h3><%= link_to post.title, post_path(post) %></h3>
  <p class="meta">posted by <%= post.author %> on <%= post.created_at.to_s(:blog) %></p>
  
  <%= simple_format post.text %>
  
  <p class="comments-count"><%= link_to pluralize(post.comments.count, "comment"), post_path(post, :anchor => "comments") %></p>
  <%= link_to "Full Story", post, :class => "button " %>
  <%= link_to "Add Comment", post_path(post, :anchor => "add-comment"), :class => "button " %>
</article>