<% if notice.present? %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="page-header">
  <% if logged_in? %>
    <%= link_to "New Article", new_post_path, :class => "button" %>
  <% else %>
    <%= link_to "Admin Login", member_zone_path, :class => "button" %>
  <% end %>

  <h1>Chapter News</h1>
  <% if @query && @posts.any? %>
    <p>Showing <%= pluralize @posts.count, "result" %> for "<%= @query %>"</p>
  <% else %>
    <p>Recent news and updates from the active brothers at Mu Chapter.</p>
  <% end %>
</div>

<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= render :partial => "posts/display", :locals => { :post => post } %>
  <% end %>
<% else %>
  <h4>No results found for "<%= @query %>". Please try again.</h4>
<% end %>