<% if notice.present? %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="page-header">
  <% if logged_in? %>
    <%= link_to "New Article", new_post_path, :class => "button" %>
  <% else %>
    <%= link_to "Admin Login", member_zone_path, :class => "button" %>
  <% end %>

  <h1>Chapter News</h1>
  <% if @query && @posts.any? %>
    <p>Found <%= pluralize @total, "result" %> for "<%= @query %>"</p>
  <% else %>
    <p>Recent news and updates from the active brothers at Mu Chapter.</p>
  <% end %>
</div>

<% if @total > 0 %>
  <section id="articles">
    <%= render @posts %>
  </section>
  
  <section id="paginator">
    <%= paginate @posts, :remote => true %>
  </section>
<% else %>
  <h4>No results found for "<%= @query %>". Please try again.</h4>
<% end %>