<!DOCTYPE html>
<html>
<head>
  <title>Cal Theta Chi – Mu Chapter</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Alegreya:400,700" %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
  
  <meta name="keywords" content="Cal, Berkeley, UCB, University of California, Golden Bears, Theta Chi, Theta Chi Mu, Cal Theta Chi, ΘΧ, fraternity">
  <meta name="description" content="The website of Theta Chi, Mu Chapter at UC Berkeley">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  
  <%= javascript_tag do %>
    $(document).ready(function() {
      $("nav li").each(function() {
        if ($(this).attr("name") == "<%= params[:controller] %>" || $(this).attr("name") == "<%= params[:action] %>") {
          $(this).addClass("active");
        }
      })
      
      if ($("nav li.active").size() === 0) {
        $("nav li[name='home']").addClass("active");
      }
    });
  <% end %>
</head>
<body>
  <div id="page-wrapper">
    <header>
      <div class="container">
        <div id="logo">
          <%= link_to root_path do %> <% end %>
        </div>
        
        <form id="search-bar" action="/news" method="get">
          <input type="text" name="query" placeholder="Search News" value="<%= params[:query] %>"tabindex="1">
          <button type="submit">Go</button>
        </form>
                
        <ul id="social">
          <li><%= link_to "Facebook", "https://www.facebook.com/CalThetaChi", :target => "_blank" %></li>
          <li><%= link_to "Twitter", "https://twitter.com/CalThetaChi", :target => "_blank" %></li>
          <li><%= link_to "LinkedIn", "http://www.linkedin.com/groups?gid=4940412", :target => "_blank" %></li>
        </ul>
      </div>
    </header>
    
    <nav>
      <ul class="container">
        <li name="home"><%= link_to "Home", root_path %></li>
        <li name="about"><%= link_to "About Us", about_us_path %></li>
        <li name="rush"><%= link_to "Rush", rush_path %></li>
        <li name="photos"><%= link_to "Photos", photo_album_index_path %></li>
        <li name="actives"><%= link_to "Active Members", actives_path %></li>
        <li name="alumni"><%= link_to "Alumni", alumni_path %></li>
        <li name="posts"><%= link_to "News", posts_path %></li>
        <li name="contact"><%= link_to "Contact Us", contact_path %></li>
        <li name="apparel"><%= link_to "Apparel Store", "http://thetachi.bigcartel.com/", :target => "_blank" %></li>
        <li name="member_zone"><%= link_to "Member Zone", member_zone_path %></li>
      </ul>
    </nav>
    
    <div id="page-content">
      <div class="container">
  
        <%= yield %>
  
      </div> <!-- container -->
    </div> <!-- page-content -->
  </div> <!-- page-wrapper -->
  <footer>
    <div class="container">
      <p>All content copyright &copy; 2013 Theta Chi, Mu Chapter. All rights reserved.</p>
      <p>2499 Piedmont Avenue, Berkeley, California 94704</p>
      <%= link_to "http://www.jimmydief.com", :id => "designer-promo" do %> <% end %>
    </div>
  </footer>
</body>
</html>
